annotated-types==0.7.0
bcrypt @ file:///C:/b/abs_6bh_hni56u/croot/bcrypt_1736182479846/work
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
cachetools==5.5.2
certifi==2025.1.31
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer==3.4.1
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1729040674118/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
dnspython==2.7.0
email_validator==2.2.0
Flask @ file:///C:/b/abs_a6m37uz578/croot/flask_1737454335662/work
Flask-Bcrypt @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/flask-bcrypt_1729090548482/work
Flask-Login @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/flask-login_1729090659250/work
Flask-SQLAlchemy @ file:///C:/Users/dev-admin/buildout/croot/flask-sqlalchemy_1735870223488/work
Flask-WTF==1.2.2
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
greenlet @ file:///C:/b/abs_bbl_18a2tm/croot/greenlet_1733860081977/work
grpcio==1.71.0
grpcio-status==1.71.0
httplib2==0.22.0
idna==3.10
itsdangerous @ file:///C:/Users/dev-admin/buildout/croot/itsdangerous_1732929022589/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
markdown2==2.5.3
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
pillow==11.1.0
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.1
pydantic_core==2.33.0
pyparsing==3.2.3
python-dotenv==1.1.0
requests==2.32.3
rsa==4.9
setuptools==75.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy @ file:///C:/b/abs_1au3ykwdxx/croot/sqlalchemy_1736565056929/work
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
uritemplate==4.1.1
urllib3==2.3.0
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
wheel==0.45.1
WTForms==3.2.1
